pipeline/pl_load_adls_sqldb.json
{
	"name": "pl_load_adls_sqldb",
	"properties": {
		"activities": [
			{
				"name": "Lookup for max ingestion timestamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT ISNULL(MAX([transform_timestamp]),'1990-01-01') AS MAX_TRANSFORM_TIMESTAMP\n  FROM [investiment_funds].[diary_quota]",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_investiment_funds_quotas",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup for max ingestion timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MaxIngestionDate",
					"value": {
						"value": "@activity('Lookup for max ingestion timestamp').output.firstRow.MAX_TRANSFORM_TIMESTAMP",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('MaxIngestionDate')",
								"type": "Expression"
							},
							"wildcardFolderPath": "investiment-funds-quotes",
							"wildcardFileName": "transform_inf_diario_fi_202409.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"cnpj_fundo",
								"data_competencia"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "tp_fundo",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tipo_fundo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "cnpj_fundo",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cnpj_fundo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "dt_comptc",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "data_competencia",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "vl_total",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "valor_total",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 17
								}
							},
							{
								"source": {
									"name": "vl_quota",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "valor_cota",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 12,
									"precision": 27
								}
							},
							{
								"source": {
									"name": "vl_patrim_liq",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "valor_patrimonial_liq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 17
								}
							},
							{
								"source": {
									"name": "captc_dia",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "capacity_dia",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 17
								}
							},
							{
								"source": {
									"name": "resg_dia",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "resgates_dia",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 17
								}
							},
							{
								"source": {
									"name": "nr_cotst",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "numero_cotistas",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ingestion_timestamp",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ingestion_timestamp",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "transform_timestamp",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "transform_timestamp",
									"type": "DateTime",
									"physicalType": "date"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_cvm_funds_quotas_transform_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sql_investiment_funds_quotas",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"MaxIngestionDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Load"
		},
		"annotations": []
	}
}