pipeline/pl_load_adls_sqldb.json
{
	"name": "pl_load_adls_sqldb",
	"properties": {
		"activities": [
			{
				"name": "Lookup for max ingestion timestamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT ISNULL(MAX([transform_timestamp]),'1990-01-01')\n  FROM [investiment_funds].[diary_quota]",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_investiment_funds_quotas",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup for max ingestion timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MaxIngestionDate",
					"value": {
						"value": "@activity('Lookup for max ingestion timestamp').output.firstRow",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"MaxIngestionDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Load"
		},
		"annotations": []
	}
}