adf/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Lookup for actual CVM file links",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "raw/cvm_actual_links_teste.csv",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_cvm_actual_quotes_links",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy investment funds actual quotes for every year",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup for actual CVM file links",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup for actual CVM file links').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Parse files in datalake",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_cvm_if_csv_adls",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@concat(item().url,'.csv')",
											"type": "Expression"
										},
										"raw_folder": "investment-funds-quotes"
									}
								},
								"fieldList": [
									"exists",
									"lastModified",
									{
										"value": "@item().url",
										"type": "Expression"
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If update is greater then timesatmp",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "file_name_from_metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(equals(activity('Parse files in datalake').output.exists,true),greater(formatDateTime(item().update,'yyyy-MM-ddTHH:mm:ss.fffffffK'),formatDateTime(activity('Parse files in datalake').output.lastModified,'yyyy-MM-ddTHH:mm:ss.fffffffK')))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "variable return if condition",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "if_condition",
											"value": {
												"value": "@activity('Parse files in datalake').output.childItems",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy from http binary actual quotes_copy1_copy1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 1,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "HttpReadSettings",
													"requestMethod": "GET"
												},
												"formatSettings": {
													"type": "BinaryReadSettings",
													"compressionProperties": {
														"type": "ZipDeflateReadSettings"
													}
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_cvm_if_links_binary_http",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_cvm_if_links_binary_adls",
												"type": "DatasetReference",
												"parameters": {
													"relativeURL": {
														"value": "@concat(variables('file_name'),'.zip')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Copy data from zipped binary to csv_copy1_copy1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Copy from http binary actual quotes_copy1_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings",
													"compressionProperties": {
														"type": "ZipDeflateReadSettings"
													}
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_cvm_if_zip_adls",
												"type": "DatasetReference",
												"parameters": {
													"fileName": {
														"value": "@concat(variables('file_name'),'.zip')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_cvm_if_csv_adls",
												"type": "DatasetReference",
												"parameters": {
													"fileName": {
														"value": "@concat(variables('file_name'),'.csv')",
														"type": "Expression"
													},
													"raw_folder": "investment-funds-quotes"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "adls_last_modified",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Parse files in datalake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "adls_last_modified",
								"value": {
									"value": "@formatDateTime(activity('Parse files in datalake').output.lastModified,'yyyy-MM-ddTHH:mm:ss.fffffffK')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "file_name_from_metadata",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Parse files in datalake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_name",
								"value": [
									""
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"file_exists": {
				"type": "Boolean"
			},
			"exists": {
				"type": "Boolean"
			},
			"updated_date_from_csv": {
				"type": "String"
			},
			"updated_bool": {
				"type": "Boolean"
			},
			"last_modified": {
				"type": "String"
			},
			"file_name": {
				"type": "Array"
			},
			"if_condition": {
				"type": "Boolean"
			}
		},
		"annotations": []
	}
}