adf/pipeline/pl_data_quality_if_quotes.json
{
	"name": "pl_data_quality_if_quotes",
	"properties": {
		"activities": [
			{
				"name": "Parse files in raw container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_cvm_if_source_transform_data_quality",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Parse files in raw container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Parse files in raw container').output.childItems.name",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Data Quality"
		},
		"annotations": []
	}
}